dt {
	background: #f2f2f2;
	font-weight: bold;
	margin-bottom: 5px;
}
dt,dd {
	text-align: center;
	line-height: 3em;
	border-radius: 5px;
}

dl {
	width: 500px;
	margin: 0 auto;
}

.hide {
	display: none;
}